__pycache__/
*.py[cod]
*.so
*.egg-info/
.dist/
.eggs/
.mypy_cache/
pytest_cache/
*.sqlite
*.db
.env
.env.local
.venv/
poetry.lock
artifacts/
.artifacts/
logs/
.DS_Store
.idea/
.vscode/
coverage.xml
htmlcov/
